<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/amrita_vishwa_vidyapeetham_color_logo"
        android:label="@string/app_name2"
        android:roundIcon="@drawable/amrita_vishwa_vidyapeetham_logo_png_seeklogo_519921"
        android:supportsRtl="true"
        android:theme="@style/Theme.Timer_Project"
        tools:targetApi="31">
        <activity
            android:name=".TimerHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".SoundSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".TimerActivity"
            android:exported="false" />
        <activity
            android:name=".FlashActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>